@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-white {
  text-shadow:
    -1px -1px 0 #f3f3f3,
    -1px 1px 0 #f3f3f3,
    1px -1px 0 #f3f3f3,
    1px 0 0 #f3f3f3;
}

.object-neon-glow {
  box-shadow: 0 0 20px #db0032;
}
.object-press-btn {
  box-shadow: 5px 5px #db0032;
}
.object-neon-glow-white {
  box-shadow: 0 0 20px #f3f3f3;
}

.main-title-logo {
  text-shadow:
    -1px -1px 50px #f3f3f3,
    -1px 1px 0 #f3f3f3,
    1px -1px 0 #f3f3f3,
    1px 0px 50px #f3f3f3,
    0 0 2px #db0032,
    0 0 4px #db0032,
    0 0 6px #f3f3f3,
    0 0 8px #db0032,
    0 0 10px #db0032,
    0 0 12px #f3f3f3,
    0 10px 3px #030303;
  color: #db0032;
}
.main-title-logo span {
  animation: blink linear infinite 2s;
}

.secondary-title-logo {
  text-shadow:
    -1px -1px 50px #db0032,
    1px -1px 0 #db0032,
    -1px 1px 0 #db0032,
    1px 1px 50px #db0032,
    0 0 2px #db0032,
    0 0 4px #db0032,
    0 0 6px #db0032,
    0 0 8px #db0032,
    0 0 10px #db0032,
    0 0 12px #db0032,
    0 10px 3px #000;
}
.secondary-title-logo span {
  animation: blink linear infinite 3s;
}

.title-section {
  text-shadow:
    0 0 10px #1a459d,
    0 0 20px #1a459d,
    0 0 30px #1a459d,
    0 0 40px #1a459d,
    0 0 50px #1a459d,
    0 0 60px #1a459d,
    0 0 70px #1a459d;
}

h3 svg {
  font-size: 1.5rem;
}

@keyframes blink {
  76% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  93% {
    color: inherit;
    text-shadow: inherit;
  }
}
